@media (max-width: 1200px) {
  .container {
    max-width: 853px;
  }

  .header {
    position: relative;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 4px;
  }

  .header::after {
    content: "";
    position: absolute;
    background-color: var(--light-grey);
    top: 86px;
    bottom: 2px;
    left: 1px;
    right: 1px;
    width: 100%;
    height: 1px;
  }

  .header__content {
    flex-wrap: wrap;
  }

  .header__logo {
    order: 1;
    margin-right: auto;
    margin-bottom: 28px;
}

  .header__nav {
    margin-right: 0;
    order: 3;
    width: 100%;
  }

  .header__search {
    order: 2;
    margin-bottom: 28px;
  }

  .nav__list {
    margin-right: 0;
    justify-content: space-between;
  }

  .hero {
    padding-top: 75px;
    padding-bottom: 88px;
  }

  .hero__content {
    padding-top: 11px;
  }

  .hero__descr {
    margin-bottom: 22px;
  }

  .programms {
    padding-bottom: 55px;
  }

  .programms__content {
    grid-template-columns: 3fr 6fr;
  }

  .programms__content-right {
    padding-top: 0;
  }

  .programms__content-right-item {
    margin-bottom: 26px;
  }

  .programms__content-right-bottom {
    padding: 15px 23px;
  }

  .programms__content-archive {
    justify-content: flex-end;
    padding-bottom: 40px;
  }

  .quests__title {
    margin-bottom: 16px;
  }

  .quests__caption {
    margin-bottom: 9px;
  }

  .quests__descr {
    max-width: 555px;
  }

  .quests__item-right {
    max-width: 355px;
  }

  .quests__item-name {
    margin-bottom: 5px;
  }

  .playlist {
    padding-bottom: 67px;
  }

  .playlist__none {
    display: none;
  }

  .playlist__item {
    margin-bottom: 8px;
  }

  .playlist__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .playlist__list-image {
    display: block;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .playlist__list-title {
    padding-left: 0;
  }

  .playlist__list-descr {
    padding-left: 0;
  }

  .playlist__text {
    padding-top: 37px;
  }

  .advert {
    padding-top: 91px;
    padding-bottom: 97px;
  }

  .advert__left {
    padding-top: 121px;
  }

  .advert__right-image {
    margin-bottom: 15px;
  }

  .advert__right-descr1 {
    max-width: 360px;
  }

  .about-us {
    padding-bottom: 94px;
  }

  .about-us__top {
    margin-bottom: 32px;
  }

  .about-us__bottom-form {
    width: 100%;
  }

  .about-us__items {
    margin-bottom: 31px;
  }

  .about-us__list {
    margin-bottom: 0;
  }

  .about-us__text-descr {
    line-height: 157%;
  }

  .about-us__items-image {
    margin-bottom: 24px;
  }

  .form-input {
    margin-right: 28px;
    margin-bottom: 29px;
  }

  .footer__left-logo {
    margin-bottom: 16px;
  }

  .footer__right {
    padding-left: 20px;
  }

  .footer__top {
    margin-bottom: 72px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 568px;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 400;
  }

  .nav__item {
    margin-right: 40px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__image {
    display: none;
  }

  .hero__descr {
    max-width: 100%;
  }

  .programms {
    padding-bottom: 1px;
  }

  .programms__content {
    display: flex;
    flex-direction: column;
  }

  .programms__content-title {
    margin-bottom: 100px;
  }

  .programms__content-right {
    padding-top: 10px;
  }

  .programms__content-right-bottom {
    padding: 16px 15px;
    margin-bottom: 6px;
  }

  .programms__content-right-descr {
    margin-bottom: 17px;
  }

  .programms__content-archive {
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
    padding-bottom: 0;
  }

  .programms__content-archive-top {
    margin-right: 22px;
  }

  .programms__content-archive-bottom {
    max-width: 250px;
    padding-top: 10px;
  }

  .quests {
    padding-top: 91px;
    padding-bottom: 30px;
  }

  .quests__item-left {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .quests__item-descr {
    margin-bottom: 31px;
  }

  .playlist {
    padding-bottom: 85px;
  }

  .advert {
    padding-top: 54px;
  }

  .advert__left {
    padding-top: 0;
    margin-bottom: 46px;
  }

  .advert__right-title {
    max-width: 380px;
  }

  .advert__right-descr1 {
    max-width: 100%;
  }

  .about-us__items-figure {
    display: none;
  }

  .about-us {
    position: relative;
  }

  .about-us::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/about-us-figures-768.png);
    background-repeat: no-repeat;
    background-position: left 475px;
    width: 100%;
    height: 100%;
  }

  .about-us__text-descr {
    margin-bottom: 141px;
  }

  .form-input {
    width: 100%;
  }

  .about-us__link {
    margin-bottom: 28px;
  }

  .footer__top {
    margin-bottom: 54px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
  }

  .socials {
    width: 36px;
    height: 36px;
  }

  .footer__right {
    padding-left: 0;
  }

  .footer__list {
    max-height: 160px;
  }

  .footer__item {
    margin-right: 149px;
    margin-bottom: 27px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 553px;
  }

  .nav__list {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .nav__link {
    white-space: nowrap;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 453px;
  }

  .header {
    padding-bottom: 1px;
  }

  .header::after {
    top: 74px;
  }

  .header__search {
    margin-bottom: 10px;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .hero {
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 7px;
  }

  .hero__title-italic {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 7px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .hero__link {
    padding: 14px 44px;
    font-size: 16px;
  }

  .podcasts {
    padding-top: 52px;
    padding-bottom: 9px;
  }

  .podcasts__title {
    font-size: 24px;
    margin-bottom: 21px;
  }

  .podcasts__items {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .podcasts__item-right {
    padding-top: 28px;
    padding-left: 15px;
    padding-bottom: 31px;
  }

  .podcasts__item-date {
    top: 0;
    bottom: auto;
  }

  .podcasts__item-time {
    margin-bottom: 6px;
  }

  .podcasts__item-left {
    margin-right: 0;
  }

  .podcasts__item-title {
    font-size: 16px;
  }

  .podcasts__item-author {
    font-size: 12px;
  }

  .programms {
    padding-top: 53px;
    padding-bottom: 25px;
  }

  .programms-title {
    font-size: 24px;
  }

  .programms__content-title {
    margin-bottom: 4px;
  }

  .programms__content-right-title {
    font-size: 12px;
  }

  .programms__content-right-descr {
    font-size: 9px;
    display: block;
    flex-grow: 1;
  }

  .programms__content-right-item {
    margin-bottom: 0;
  }

  .programms__content-right-link {
    font-size: 12px;
    background-position: 64px center;
  }

  .programms__content-right-bottom {
    padding: 7px 9px;
    min-height: 100px;
    margin-bottom: 27px;
  }

  .programms__content-archive {
    padding-top: 22px;
  }

  .programms__content-archive-descr {
    font-size: 14px;
    max-width: 155px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  .programms__content-archive-bottom {
    padding-top: 0;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .programms__content-archive-link {
    order: 2;
    padding: 7px 32px;
  }

  .quests {
    padding-top: 53px;
    padding-bottom: 5px;
  }

  .quests__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .quests__caption {
    font-size: 14px;
    margin-bottom: 0;
  }

  .quests__descr {
    font-size: 14px;
    margin-bottom: 27px;
  }

  .quests__item {
    margin-bottom: 31px;
  }

  .quests__item-left {
    margin-bottom: 6px;
  }

  .quests__item-link {
    padding: 7px 12px;
  }

  .playlist {
    padding-top: 37px;
    padding-bottom: 24px;
  }

  .playlist__list {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 14px;
  }

  .playlist__item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .playlist__item-descr {
    font-size: 12px;
    line-height: 17px;
  }

  .playlist__item-copy {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .playlist__text {
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 9px;
  }

  .playlist__list-image {
    width: 100%;
  }

  .playlist__list-title {
    font-size: 12px;
  }

  .playlist__list-descr {
    font-size: 9px;
  }

  .advert {
    padding-bottom: 53px;
  }

  .advert__left {
    margin-bottom: 26px;
  }

  .advert__right-title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .advert__right-descr1 {
    font-size: 14px;
    line-height: 155%;
  }

  .advert__right-descr2 {
    max-width: 98%;
    font-size: 14px;
    line-height: 155%;
    margin-bottom: 11px;
  }

  .advert__right-price {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .advert__right-button {
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 17px;
  }

  .about-us {
    padding-top: 54px;
    padding-bottom: 53px;
  }

  .about-us__text-title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .about-us__text-caption {
    font-size: 14px;
    max-width: 98%;
    margin-bottom: 5px;
  }

  .about-us__text-descr {
    font-size: 14px;
    margin-bottom: 0;
  }

  .about-us__items-image {
    margin-bottom: 8px;
  }

  .about-us::before {
    display: none;
  }

  .about-us__items-name {
    font-size: 14px;
    max-width: 93%;
  }

  .about-us__items-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .form-text {
    border-radius: 15px;
    font-size: 16px;
    padding-left: 23px;
    padding-top: 11px;
  }

  .form-input {
    font-size: 16px;
    min-height: 50%;
    padding: 13px 21px;
    margin-bottom: 32px;
  }

  .about-us__link {
    font-size: 16px;
    padding: 13px 45px;
    margin-bottom: 16px;
  }

  .checkbox__text {
    font-size: 9px;
  }

  .footer {
    padding-top: 55px;
  }

  .footer__top {
    margin-bottom: 20px;
  }

  .footer__list {
    max-height: 215px;
  }

  .footer__item {
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__bottom {
    background-image: url(../img/wave-mobile.svg);
  }

  .footer__copy {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 286px;
  }
}
