html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2'),
    url('../fonts/MullerRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegularItalic.woff2'),
    url('../fonts/MullerRegularItalic.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2'),
    url('../fonts/MullerMedium.woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2'),
    url('../fonts/MullerBold.woff');
  font-display: swap;
  font-weight: 700;
}

:root {
  --main-color: #121723;
  --color-black: #292E39;
  --dark-grey: #A1A6B4;
  --color-grey: #D2D5DD;
  --light-grey: #E6E8EC;
  --dark-brown: #BB973E;
  --light-brown: #F0D288;
  --color-blue: #0039A6;
  --light-red: #D52B1E;
  --dark-purple: #4F28A5;
  --color-purple: #6D31EE;
  --light-purple: #AA9DFA;
  --color-light: #F5F6F7;
  --light-white: #FFFFFF;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  padding-top: 34px;
  padding-bottom: 34px;
}

.header__nav {
  margin-right: 101px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: auto;
}

.nav__list {
  list-style: none;
  margin-right: 106px;
  padding-left: 0;
}

.nav__item  {
  margin-right: 48px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: var(--main-color);
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  background-color: var(--light-purple);
  color: var(--light-white)
}

.nav__link:hover {
  color: var(--color-purple);
}

.nav__link:active {
  color: var(--dark-purple);
}

.header__search {
  stroke: var(--color-purple);
  transition: stroke 0.3s ease-in-out;
}

.header__search:focus {
  stroke: var(--light-purple);
}

.header__search:hover {
  stroke: var(--light-purple);
}

.header__search:active {
  stroke: var(--dark-purple);
}

.hero {
  padding-top: 7px;
  padding-bottom: 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 65px;
}

.hero__title {
  margin: 0;
  margin-bottom: 17px;
  color: var(--main-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.hero__title-italic {
  margin: 0;
  color: var(--main-color);
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 45px;
  max-width: 645px;
  color: var(--main-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero__link {
  padding: 22px 54px;
  border-radius: 40px;
  background-color: var(--color-purple);
  border: 2px solid transparent;
  color: var(--light-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__link:focus {
  border: 2px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.hero__link:hover {
  background-color: var(--light-purple);
}

.hero__link:active {
  background-color: var(--dark-purple);
}

.hero__image {
  padding-top: 7px;
}

.podcasts {
  background-color: var(--light-grey);
  padding-top: 88px;
  padding-bottom: 49px;
}

.podcasts__title {
  margin: 0;
  margin-bottom: 34px;
  color: var(--main-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.podcasts__list {
  list-style: none;
  padding: 0;
}

.podcasts__items {
  background-color: var(--light-white);
  padding: 0;
  margin-bottom: 30px;
}

.podcasts__item-left {
  position: relative;
  margin-right: 30px;
}

.podcasts__item-image {
  display: block;
  width: 100%;
}

.podcasts__item-date {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--light-grey);
  padding: 3px 6px;
  color: var(--main-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.podcasts__item-right {
  padding-top: 34px;
}

.podcasts__item-time {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  color: var(--main-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.podcasts__item-title {
  margin: 0;
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.podcasts__item-author {
  margin: 0;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.programms {
  padding-top: 92px;
  padding-bottom: 31px;
}

.programms__content {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 1fr 1fr;
}

.programms__content-right {
  padding-top: 10px;
  grid-row: 1 / span 2;
  grid-column: 2;
}

.programms__content-right-list {
  padding-top: 2px;
  padding-right: 13px;
  list-style: none;
  padding: 0;
}

.programms__content-right-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.programms-title {
  margin: 0;
  color: var(--main-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.programms__content-right-image {
  display: block;
  width: 100%;
}

.programms__content-right-bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 12px;
  border: 1px solid var(--light-grey);
}

.programms__content-right-title {
  margin: 0;
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.programms__content-right-descr {
  margin: 0;
  margin-bottom: 20px;
  color: var(--dark-grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.programms__content-right-link {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 85px center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 35px;
  color: var(--main-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.programms__content-right-link:focus {
  outline: none;
  background-image: url(../img/arrow-focus.svg);
  color: var(--light-white);
  background-color: var(--light-purple);
  padding: 1px;
  padding-right: 35px;
}

.programms__content-right-link:hover {
  outline: none;
  background-image: url(../img/arrow-hover.svg);
  color: var(--color-purple);
}

.programms__content-right-link:hover {
  outline: none;
  background-image: url(../img/arrow-active.svg);
  color: var(--dark-purple);
  padding-right: 35px;
}

.programms__content-archive {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programms__content-archive-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programms__content-archive-image {
  margin-bottom: 24px;
}

.programms__content-archive-link {
  color: var(--main-color);
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px 56px;
  border-radius: 77px;
  border: 2px solid var(--main-color);
}

.programms__content-archive-descr {
  margin: 0;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.quests {
  background-color: var(--main-color);
  padding-top: 89px;
  padding-bottom: 26px;
}

.quests__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--light-white);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.quests__caption {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  color: var(--dark-grey);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.quests__descr {
  margin: 0;
  margin-bottom: 48px;
  max-width: 810px;
  color: var(--dark-grey);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.quests__list {
  list-style: none;
  padding: 0;
}

.quests__item {
  margin-bottom: 48px;
}

.quests__item-left {
  margin-right: 30px;
}

.quests__item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 460px;
}

.quests__item-name {
  margin-bottom: 8px;
  margin: 0;
  color: var(--light-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quests__item-descr {
  margin: 0;
  margin-bottom: auto;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.quests__item-link {
  padding: 10px 18px;
  border-radius: 77px;
  background-color: transparent;
  border: 2px solid var(--light-purple);
  color: var(--light-purple);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.quests__item-link:focus {
  outline: none;
  background-color: var(--color-purple);
  color: var(--light-white);
  border: 2px solid transparent;
}

.quests__item-link:hover {
  background-color: var(--light-purple);
  color: var(--light-white);
  border: 2px solid transparent;
}

.quests__item-link:active {
  background-color: var(--dark-purple);
  color: var(--light-white);
  border: 2px solid transparent;
}

.playlist {
  padding-top: 73px;
  padding-bottom: 64px;
}

.playlist__content {
  list-style: none;
  padding: 0;
}

.playlist__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.playlist__item-title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--main-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.playlist__items {
  padding-top: 18px;
}

.playlist__item-descr {
  margin: 0;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.playlist__item-copy {
  margin: 0;
  margin-bottom: 13px;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.playlist__list {
  border: 1px solid var(--light-grey);
  margin-bottom: 12px;
  padding-bottom: 16px;
}

.playlist__list-image {
  margin-bottom: 10px;
}

.playlist__list-title {
  margin: 0;
  margin-bottom: 1px;
  padding-left: 16px;
  color: var(--main-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.playlist__list-descr {
  margin: 0;
  padding-left: 16px;
  color: var(--dark-grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advert {
  background-color: var(--color-black);
  padding-top: 94px;
  padding-bottom: 130px;
}

.advert__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advert__right-title {
  margin: 0;
  margin-bottom: 19px;
  color: var(--light-brown);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.advert__right-image {
  margin-bottom: 19px;
}

.advert__right-descr1 {
  margin: 0;
  margin-bottom: 12px;
  color: var(--light-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.advert__right-descr2 {
  margin: 0;
  margin-bottom: 26px;
  color: var(--light-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.advert__right-price {
  margin: 0;
  margin-bottom: 30px;
  color: var(--light-white);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.advert__right-button {
  color: var(--light-brown);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border-radius: 100px;
  border: 2px solid var(--light-brown);
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 13px;
  background-image: url(../img/advert-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: transparent;
  transition: background-image 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.advert__right-button:focus {
  outline: none;
  background-color: var(--dark-brown);
  color: var(--main-color);
}

.advert__right-button:hover {
  background-image: url(../img/advert-icon-active.svg);
  background-color: var(--light-brown);
  color: var(--main-color);
}

.advert__right-button:active {
  background-image: url(../img/advert-icon-active.svg);
  border: 2px solid transparent;
  background-color: var(--dark-brown);
  color: var(--main-color);
}

.about-us {
  background-color: var(--main-color);
  padding-top: 92px;
  padding-bottom: 90px;
}

.about-us__top {
  margin-bottom: 30px;
}

.about-us__text-title {
  margin: 0;
  margin-bottom: 14px;
  color: var(--light-white);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.about-us__text-caption {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  color: var(--dark-grey);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.about-us__text-descr {
  margin: 0;
  color: var(--dark-grey);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.about-us__items {
  margin-bottom: 14px;
}

.about-us__items-image {
  margin-bottom: 26px;
}

.about-us__items-name {
  margin: 0;
  margin-bottom: 6px;
  color: var(--light-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-us__items-descr {
  margin: 0;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.form-text {
  color: var(--light-white);
  width: 100%;
  min-height: 150px;
  margin-bottom: 26px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--main-color);
  border-radius: 30px;
  border: 1px solid var(--light-white);
  padding-left: 32px;
  padding-top: 26px;
  resize: none;
}

.form-text::placeholder {
  color: var(--dark-grey);
}

.form-text:focus {
  outline: none;
  background-color: var(--color-black);
  border: 1px solid var(--light-purple);
}

.form-text:hover {
  background-color: var(--color-black);
}

.form-text:active {
  color: var(--light-white);
}

.form-input {
  color: var(--light-white);
  font-size: 20px;
  width: 48%;
  min-height: 70px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--main-color);
  border-radius: 30px;
  border: 1px solid #FFF;
  padding: 21px 32px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form-input::placeholder {
  color: var(--dark-grey);
}

.form-input:focus {
  outline: none;
  background-color: var(--color-black);
  border: 1px solid var(--light-purple);
}

.form-input:hover {
  background-color: var(--color-black);
}

.form-input:active {
  color: var(--light-white);
}

.form-input:invalid {
  border: 1px solid var(--light-red);
}

.form-input:last-child {
  margin-right: 0;
}

.about-us__link {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
  padding: 22px 54px;
  border-radius: 40px;
  border: 2px solid transparent;
  background-color: var(--color-purple);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about-us__link:focus {
  outline: none;
  border: 2px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.about-us__link:hover {
  background-color: var(--light-purple);
}

.about-us__link:active {
  background-color: var(--dark-purple);
}

.about-us__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__bottom-form {
  width: 83%;
}

.checkbox__text {
  position: relative;
  border: 1px solid transparent;
  padding-left: 8px;
  color: var(--light-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkbox__input {
  position: relative;
  opacity: 0;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 0;
  outline: var(--color-purple);
  border: 1px solid currentColor;
  width: 14px;
  height: 14px;
}

.checkbox__text::after {
  content: "";
  position: absolute;
  left: -17px;
  top: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/check.svg);
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.checkbox__input:checked + .checkbox__text::after {
  opacity: 1;
}

.checkbox__input:focus + .checkbox__text::before {
  box-shadow: 0 0 0 0.1em var(--color-purple);
}

.footer {
  background-color: var(--color-black);
  padding-top: 94px;
  padding-bottom: 10px;
}

.footer__top {
  margin-bottom: 77px;
}

.footer__left-logo {
  margin-bottom: 20px;
}

.footer__left-socials {
  display: flex;
}

.socials {
  fill: var(--color-grey);
  outline: none;
  transition: fill 0.3s ease-in-out;
}

.socials:focus {
  outline: none;
  fill: var(--light-purple);
}

.socials:hover {
  fill: var(--color-purple);
}

.socials:active {
  fill: var(--dark-purple);
}

.footer__left-socials-link:not(:last-child) {
  margin-right: 21px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
}

.footer__item {
  margin-bottom: 17px;
  margin-right: 102px;
}

.footer__link {
  color: var(--light-white);
  padding: 3px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: none;
  background-color: var(--light-purple);
  color: var(--light-white)
}

.footer__link:hover {
  color: var(--color-purple);
}

.footer__link:active {
  color: var(--dark-purple);
}

.footer__bottom {
  background-image: url(../img/wave.svg);
  background-repeat: repeat-x;
  background-position: top center;
}

.footer__copy {
  display: block;
  padding-top: 20px;
  width: 100%;
  color: var(--dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.336%;
  text-align: center;
}
